$fadeInOutAnimationDuration: 0.25s;
$fadeInOutAnimationEasing: ease-in-out;

.fade-in-out-enter {
    opacity: 0;
    transition: opacity $fadeInOutAnimationDuration $fadeInOutAnimationEasing,
    margin-top $fadeInOutAnimationDuration $fadeInOutAnimationEasing 150ms;
    will-change: opacity, margin-top;
}

.fade-in-out-enter-active {
    opacity: 1;
}

.fade-in-out-exit {
    transition: opacity $fadeInOutAnimationDuration $fadeInOutAnimationEasing,
    margin-top $fadeInOutAnimationDuration $fadeInOutAnimationEasing 150ms;
    will-change: opacity, margin-top;
}

.fade-in-out-exit-active {
    opacity: 0;
}